body {
  background-color: $baseBgColor;
  font-family: $nunito;
}

.header {
  &,
  a:not(.btn) {
    color: white;
  }
  .nav {
    @include media-breakpoint-up(lg) {
      margin-left: auto;
    }
    @include media-breakpoint-only(xs) {
      flex-wrap: wrap;
    }
    &bar {
      padding: 24px 0 0;
      &-brand {
        margin-right: 0;
        font: {
          size: 20px;
          weight: bold;
        }
        @include media-breakpoint-only(xs) {
          padding-left: 15px;
        }
      }
      &-toggler {
        position: absolute;
        top: 30px;
        right: 30px;
        display: block;
        width: 30px;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        @include media-breakpoint-up(lg) {
          display: none;
        }
        path {
          transition: stroke-dashoffset .5s cubic-bezier(.25, -.25, .75, 1.25), stroke-dasharray .5s cubic-bezier(.25, -.25, .75, 1.25);
          fill: none;
          stroke: white;
          stroke-width: 2px;
          stroke-dashoffset: 0;
          will-change: transform;
          &#top,
          &#bottom {
            stroke-dasharray: 19px 60px;
          }
          &#middle {
            stroke-dasharray: 19px 20px;
          }
        }
        &.in {
          path {
            &#top,
            &#bottom {
              stroke-dashoffset: -50.5px;
            }
            &#middle {
              stroke-dashoffset: -10px;
              stroke-dasharray: 0 10px;
            }
          }
        }
      }
      &-collapse {
        @include media-breakpoint-down(md) {
          margin-top: 15px;
        }
        @include media-breakpoint-only(xs) {
          flex-wrap: wrap;
        }
        &.show {
          display: flex;
        }
      }
    }
    &-link {
      padding: 0 15px;
      cursor: pointer;
      @include media-breakpoint-only(xs) {
        font-size: 18px;
      }
    }
    &-item {
      @include media-breakpoint-only(xs) {
        width: 100%;
      }
      &:first-child {
        @include media-breakpoint-only(sm) {
          a {
            padding-left: 0;
          }
        }
      }
    }
  }
  .btn {
    margin-right: 11px;
    @include media-breakpoint-only(xs) {
      margin: 10px 0 0 15px;
    }
  }
}

.bg-default {
  @extend %bg-default;
}

.section {
  &__padding {
    @include media-breakpoint-up(xl) {
      padding: {
        top: 120px;
        bottom: 120px;
      }
    }
    @include media-breakpoint-between(lg, xl) {
      padding: {
        top: 100px;
        bottom: 100px;
      }
    }
    @include media-breakpoint-between(sm, md) {
      padding: {
        top: 80px;
        bottom: 80px;
      }
    }
    @include media-breakpoint-only(sm) {
      padding: {
        top: 60px;
        bottom: 60px;
      }
    }
    @include media-breakpoint-only(xs) {
      padding: {
        top: 40px;
        bottom: 40px;
      }
    }
  }

  &-header {
    color: white;
    @include media-breakpoint-only(sm) {
      padding-bottom: 60px;
    }
    @include media-breakpoint-only(xs) {
      padding-bottom: 40px;
    }
    .brand-icon {
      @include media-breakpoint-up(xl) {
        margin-top: 224px;
      }
      @include media-breakpoint-between(lg, xl) {
        margin-top: 180px;
      }
      @include media-breakpoint-between(sm, md) {
        margin-top: 120px;
      }
      @include media-breakpoint-only(md) {
        margin-top: 100px;
      }
      @include media-breakpoint-only(sm) {
        margin-top: 40px;
      }
      @include media-breakpoint-only(xs) {
        margin-top: 30px;
      }
      img {
        max-width: 90px;
        max-height: 90px;
      }
    }
    h1 {
      margin-top: 12px;
      margin-bottom: 41px;
      font-size: 35px;
      line-height: 50px;
      @include media-breakpoint-between(sm, md) {
        margin-bottom: 30px;
        font-size: 24px;
      }
      @include media-breakpoint-only(md) {
        line-height: 30px;
      }
      @include media-breakpoint-only(sm) {
        margin-bottom: 20px;
      }
      @include media-breakpoint-only(xs) {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 40px;
      }
    }
    .tab {
      position: relative;
      @include media-breakpoint-up(xl) {
        top: 138px;
        max-width: 480px;
        margin-bottom: 3px;
      }
      @include media-breakpoint-between(lg, xl) {
        top: 120px;
        max-width: 440px;
      }
      @include media-breakpoint-between(sm, md) {
        top: 70px;
        max-width: 300px;
      }
    }
    .btn {
      @include media-breakpoint-only(xs) {
        margin-bottom: 15px;
      }
      &:not(:last-child) {
        @include media-breakpoint-up(sm) {
          margin-right: 20px;
        }
      }
    }
  }

  &-features {
    @include media-breakpoint-up(xl) {
      padding-top: 240px;
    }
    @include media-breakpoint-between(lg, xl) {
      padding-top: 200px;
    }
    h2 {
      margin: 0 0 69px;
      color: $baseColor;
      font-size: 35px;
      line-height: 50px;
      @include media-breakpoint-only(sm) {
        margin: 0 0 40px;
      }
    }
    figure {
      margin: 0;
      padding: 60px 30px;
      text-align: center;
      border-radius: 12px;
      background-color: white;
      box-shadow: 0 1px 3px 0 $boxShadow;
      @include media-breakpoint-up(xl) {
        padding: 60px 30px;
      }
      @include media-breakpoint-between(lg, xl) {
        padding: 50px 25px;
      }
      @include media-breakpoint-down(md) {
        max-width: 400px;
        margin: 0 auto 30px;
      }
      @include media-breakpoint-only(sm) {
        padding: 40px 30px;
      }
      @include media-breakpoint-only(xs) {
        padding: 30px;
      }
      h4 {
        margin-bottom: 12px;
        color: $baseColor;
        font-size: 20px;
        line-height: 25px;
      }
      p {
        margin-bottom: 16px;
        color: $altColor;
        font-size: 14px;
        line-height: 25px;
      }
      a {
        text-decoration: underline;
        color: #469af4;
        font-size: 14px;
      }
    }
    .icon {
      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        margin: 0 auto 30px;
        border-radius: 15px;
        box-shadow: 0 6px 12px 0 $boxShadowLight;
        svg {
          fill: white;
          fill-rule: evenodd;
        }
      }
    }
  }

  &-tab {
    .nav {
      li {
        display: flex;
        padding: 30px;
        cursor: pointer;
        transition: all .3s ease;
        border-radius: 12px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        &.active,
        &:hover {
          background-color: white;
          box-shadow: 0 6px 12px 0 $boxShadowLight;
        }
        &:not(.active) {
          p {
            @include media-breakpoint-down(md) {
              visibility: hidden;
              height: 0;
            }
          }
        }
      }
      h3 {
        color: $baseColor;
        font-size: 16px;
        line-height: 20px;
      }
      p {
        margin-bottom: 0;
        color: $altColor;
        font-size: 14px;
        line-height: 25px;
      }
      .wrapper {
        &-icon {
          margin-right: 20px;
          @include media-breakpoint-only(xs) {
            display: none;
          }
        }
      }
      .icon {
        display: block;
        width: 24px;
        height: 24px;
        background: {
          size: contain;
          repeat: no-repeat;
        }

        &-reload {
          background-image: url(../img/svg/tab-reload.svg);
        }
        &-inbox {
          background-image: url(../img/svg/tab-inbox.svg);
        }
        &-clock {
          background-image: url(../img/svg/tab-clock.svg);
        }
      }
    }
    .tab-content {
      div {
        text-align: center;
      }
      img {
        max-width: 470px;
        height: 100%;
        max-height: 700px;
        @include media-breakpoint-only(sm) {
          max-height: 500px;
        }
        @include media-breakpoint-only(xs) {
          max-height: 400px;
        }
      }
    }
    .tab-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      @include media-breakpoint-only(sm) {
        margin-top: 40px;
      }
      @include media-breakpoint-only(xs) {
        margin-top: 30px;
      }
    }
  }

  &-press {
    background-color: white;

    .wrapper-brand {
      display: flex;
      flex-wrap: wrap;
      padding: 80px 0;
      @include media-breakpoint-up(lg) {
        justify-content: space-between;
      }
      a {
        justify-content: center;
        @include media-breakpoint-between(sm, md) {
          width: 33.33%;
          text-align: center;
          &:first-child {
            margin-bottom: 30px;
          }
        }
        @include media-breakpoint-only(xs) {
          width: 50%;
          text-align: center;
          &:nth-child(1),
          &:nth-child(3) {
            margin-bottom: 20px;
          }
        }
      }
      img {
        height: 100%;
        max-height: 20px;
      }
    }
  }

  &-getStarted {
    padding: 70px 0 80px;
    color: white;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    h2 {
      margin-bottom: 17px;
      font-size: 35px;
      line-height: 50px;
    }
    p {
      margin-bottom: 0;
      color: rgba(white, .80);
      font-size: 16px;
      line-height: 30px;
    }
    a {
      @include media-breakpoint-down(md) {
        margin-top: 30px;
      }
    }
  }

  &-higlights {
    text-align: center;
    .row {
      background-color: white;
      box-shadow: 0 3px 6px 0 $boxShadow;
    }
    h3 {
      color: $baseColor;
      font-size: 35px;
      line-height: 50px;
    }
    p {
      color: $altColor;
      font-size: 16px;
      line-height: 30px;
    }
    .text-wrapper {
      @include media-breakpoint-up(xl) {
        padding: 30px 100px 0;
      }
      @include media-breakpoint-between(md, lg) {
        padding: 30px 60px 0;
      }
      @include media-breakpoint-between(sm, md) {
        padding: 30px 30px 0;
      }
    }
    .bg-default {
      position: relative;
      overflow: hidden;
    }
    .reorder {
      @include media-breakpoint-down(sm) {
        order: 2;
      }
    }
    img {
      @include media-breakpoint-up(xl) {
        padding-top: 90px;
      }
      @include media-breakpoint-between(lg, xl) {
        padding-top: 70px;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: -20px;
      }
      @include media-breakpoint-only(md) {
        position: absolute;
        right: 0;
        bottom: -11px;
        left: 0;
        width: 100%;
        margin: auto;
      }
      @include media-breakpoint-between(sm, md) {
        max-width: 250px;
        padding-top: 25px;
      }
      @include media-breakpoint-only(sm) {
        margin-bottom: -11px;
      }
      @include media-breakpoint-only(xs) {
        max-width: 200px;
        margin-bottom: -11px;
        padding-top: 20px;
      }
    }
  }

  &-videoTour {
    @extend %bg-default;
    text-align: center;
    color: white;
    background-image: url(../img/Base.png);
    h2 {
      margin-bottom: 16px;
      font-size: 35px;
      line-height: 50px;
    }
    p {
      width: 100%;
      max-width: 570px;
      margin: auto;
      color: rgba(white, .80);
      font-size: 16px;
      line-height: 30px;
    }
    .pulse {
      overflow: visible;
      margin-top: 20px;
      svg {
        border-radius: 50%;
        circle {
          stroke: white;
          stroke-width: 2px;
          stroke-opacity: 1;
          &.pulse {
            transform-origin: 50% 50%;
            animation: 2s pulse infinite;
          }
        }
      }
    }
  }

  &-testimonials {
    overflow: hidden;
    border-bottom: 1px solid $borderColor;
    aside {
      position: relative;
      display: flex;
      flex: {
        wrap: wrap;
        direction: column;
      }
    ;
      background-color: white;
      @include media-breakpoint-up(md) {
        border-right: 1px solid $borderColor;
      }
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        margin-left: -15px;
        background-color: white;
        @include media-breakpoint-down(sm) {
          left: -50vw;
          width: 150vw;
        }
      }
    }
    .stars {
      @include media-breakpoint-up(sm) {
        margin-top: 20px;
      }
      @include media-breakpoint-only(xs) {
        margin-top: 10px;
      }
      img {
        max-width: 88px;
      }
    }
    h2 {
      color: $baseColor;
      font-size: 35px;
      @include media-breakpoint-up(sm) {
        margin-top: 50px;
        line-height: 50px;
      }
      @include media-breakpoint-only(xs) {
        margin-top: 30px;
        line-height: 40px;
      }
    }
    .secondary {
      letter-spacing: .43px;
      color: #999ea8;
      font-size: 15px;
      line-height: 50px;
    }
    .more {
      margin-top: auto;
      a {
        display: block;
        .arrow {
          @extend %bg-default;
          display: inline-block;
          width: 24px;
          height: 8px;
          margin-right: 12px;
          background-image: url(../img/svg/arrow.svg);
        }
      }
    }
    .card {
      width: 100%;
      max-width: 570px;
      padding: 23px 30px;
      border-radius: 12px;
      background: white;
      box-shadow: 0 6px 12px 0 $boxShadowLight;
      &:nth-child(odd) {
        margin-right: auto;
        .card-image {
          margin-right: 30px;
        }
      }
      &:nth-child(even) {
        @include media-breakpoint-up(xl) {
          margin-left: auto;
          text-align: right;
          .card-image {
            margin-left: 30px;
          }
          a,
          .card-image {
            order: 1;
          }
        }
        @include media-breakpoint-down(md) {
          .card-image {
            margin-right: 30px;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &-body {
        display: flex;
        padding: 0 0 22px 0;
        border-bottom: 1px solid $borderColor;
      }
      &-image {
        width: 100%;
        max-width: 50px;
        height: 100%;
        max-height: 50px;
        @include media-breakpoint-only(xs) {
          display: none;
        }
      }
      &-author {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
      }
      &-small {
        color: #999ea8;
        font-size: 12px;
        line-height: 25px;
      }
      &-text {
        color: $baseColor;
        font-size: 14px;
        line-height: 25px;
      }
      .icon {
        &-twitter {
          @extend %bg-default;
          display: block;
          width: 16px;
          height: 16px;
          background: {
            image: url(../img/svg/twt.svg);
            size: contain;
          }
        }
      }
    }
  }

  &-pricing {
    .item {
      &-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        @include media-breakpoint-down(md) {
          margin-bottom: 30px;
          text-align: center;
        }
        .btn {
          @include media-breakpoint-up(sm) {
            margin-left: 15px;
          }
          @include media-breakpoint-only(xs) {
            margin-top: 15px;
          }
        }
        .form-inline {
          @include media-breakpoint-down(md) {
            justify-content: center;
          }
        }
      }
      &-plan {
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        vertical-align: middle;
        border-radius: 12px;
        @include media-breakpoint-up(sm) {
          display: inline-flex;
          width: 50%;
          padding: $pricingPadding 0 $pricingPadding+10;
        }
        @include media-breakpoint-only(xs) {
          display: flex;
          width: 100%;
          padding: 30px 0;
        }
        &.proffesional {
          @extend %bg-default;
          z-index: 2;
          color: white;
          .item-plan__price {
            p {
              margin-bottom: 19px;
              font-size: 60px;
            }
          }
          ul {
            margin-bottom: 30px;
          }
        }
        &.starter {
          z-index: 1;
          margin: 20px 0;
          background-color: white;
          box-shadow: 0 1px 3px 0 $boxShadow;
          @include media-breakpoint-up(sm) {
            margin-left: -15px;
          }
          .item-plan__title {
            background: $baseBgColor;
            box-shadow: 0 1px 0 0 $borderColor, inset 0 1px 0 0 $borderColor;
          }
          .item-plan__price {
            p {
              margin-bottom: 26px;
              color: $baseColor;
              font-size: 40px;
            }
          }
          ul {
            margin-bottom: 40px;
          }
          li {
            background-image: url('../img/svg/ok-alt.svg');
          }
        }
        &__title {
          text-align: center;
          background: $boxShadowLight;
          box-shadow: 0 1px 0 0 rgba(white, .30), inset 0 1px 0 0 rgba(white, .30);
          p {
            margin: 12px 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 11px;
          }
        }
        &__price {
          text-align: center;
          p {
            font-weight: 300;
            @include media-breakpoint-up(sm) {
              margin-top: 25px;
            }
            @include media-breakpoint-only(xs) {
              margin-top: 15px;
            }
          }
        }
        &__body {
          @include media-breakpoint-up(xl) {
            padding: 0 $pricingPadding;
          }
          @include media-breakpoint-between(sm, lg) {
            padding: 0 30px;
          }
          @include media-breakpoint-only(xs) {
            padding: 0 15px;
          }
        }
        &__list {
          ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
          }
          li {
            padding-left: 25px;
            background: {
              position: 0 5px;
              image: url('../img/svg/ok.svg');
              repeat: no-repeat;
            }
          }
        }
      }
    }
  }

  &-contact {
    .text-wrapper {
      width: 100%;
      max-width: 570px;
      margin: auto;
      margin-bottom: 60px;
      text-align: center;
      color: white;
      h2 {
        margin-bottom: 21px;
      }
      p {
        color: rgba(255, 255, 255, .80);
        line-height: 30px;
      }
    }
    .form {
      &-wrapper {
        border-radius: 12px;
        background-color: white;
        box-shadow: 0 12px 24px 0 rgba(40, 43, 49, .16);
        @include media-breakpoint-up(lg) {
          padding: 70px;
        }
        @include media-breakpoint-between(md, lg) {
          padding: 40px;
        }
        @include media-breakpoint-only(sm) {
          padding: 30px;
        }
        @include media-breakpoint-only(xs) {
          padding: 20px 15px;
        }
      }

      &-control {
        height: 50px;
        margin-bottom: 20px;
        border: 1px solid $borderColor;
        border-radius: 6px;
        background: $baseBgColor;
        font-size: 17px;
      }
      textarea {
        min-height: 215px;
        max-height: 500px;
      }
    }
  }
}

footer {
  padding-top: 25px;
  padding-bottom: 30px;
  @include media-breakpoint-only(xs) {
    text-align: center;
  }
  p {
    margin-bottom: 0;
  }
  .brand {
    color: $baseColor;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    @include media-breakpoint-only(xs) {
      margin-bottom: 20px;
    }
  }
  .copyright {
    text-align: center;
    color: #999ea8;
    font-size: 11px;
    span {
      color: $baseColor;
    }
    p {
      &:last-child {
        margin-top: 10px;
      }
    }
  }
  .social {
    @include media-breakpoint-up(sm) {
      text-align: right;
    }
    @include media-breakpoint-only(xs) {
      margin-top: 15px;
    }
    .btn-group {
      border-radius: 6px 0 0 6px;
    }
    svg {
      path {
        transition: fill .3s ease;
        fill: #d3d5d9;
        fill-rule: evenodd;
      }
    }
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: 1px solid $borderColor;
      &:hover {
        path {
          fill: darken(#d3d5d9, 10%);
        }
      }
      &:first-child {
        border-right: 0;
        border-radius: 6px 0 0 6px;
      }
      &:last-child {
        border-left: 0;
        border-radius: 0 6px 6px 0;
      }
    }
  }
}
