@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');
$nunito: 'Nunito Sans', sans-serif;
$pricingPadding: 50px;
$baseColor: #282b31;
$altColor: #676c75;
$borderColor: #e7e8ea;
$baseBgColor: #f8f9fa;
$boxShadow: rgba(32, 33, 39, .12);
$boxShadowLight: rgba(32, 33, 39, .08);

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

h2 {
  font-weight: 400;
}

%bg-default {
  background: {
    position: 0 0, 50% 50%;
    repeat: no-repeat, repeat;
    size: cover;
    image: url(../img/Background.png);
  }
}

.btn {
  border: none;
  border-radius: 6px;
  box-shadow: 0 6px 12px 0 rgba(40, 43, 49, .08);
  &-sm {
    padding: 8px 24px;
    font: {
      weight: bold;
      size: 14px;
    }
  }
  &-default {
    color: black;
    background-color: white;
  }
  &-warning {
    color: white;
    background-image: linear-gradient(-135deg, #ff8e64 0%, #ffe641 100%);
  }
  &-primary {
    background-image: linear-gradient(-135deg, #7956ec 0%, #2fb9f8 100%);
  }
  &-success {
    color: white;
    background-image: linear-gradient(-135deg, #009fc5 0%, #3cecb0 100%);
  }
  &-danger {
    background-image: linear-gradient(-135deg, #ad2ab9 0%, #ff618c 100%);
  }
}

.disabled,
:disabled {
  cursor: not-allowed;
}

.container {
  padding: 0;
}

.form-control {
  color: #b9bdc3;
  @include placeholder {
    transition: all .3s;
    color: #b9bdc3;
  }

  &:focus {
    outline: none;
    @include placeholder {
      color: transparent;
    }
  }
}
